* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 255, 149);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 100px; 
    padding: 10px;
    border: solid 2px white;
    box-shadow: white;
    height: 200px;
    width: 50%;
    background-color: rgb(0, 255, 149);
    box-shadow: 10px 10px 10px whitesmoke;
}

h1 {
    margin-bottom: 20px;
    font-family: cursive;
    text-shadow: 2px 2px 2px whitesmoke;
    text-decoration: underline;
}

.convertion {
    display: flex;
    justify-content: space-evenly;
}
input {
    width: 200px;
    height: 50px;
    margin-left: 0;
}

button.fConvertor {
    background-color: orange;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: solid 2px white;
}

button.fConvertor:hover {
    background-color: black;
    color: white;
}

button.cConvertor {
    background-color: red;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: solid 2px white;
}


button.cConvertor:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 820px) {
    .container{
        width: fit-content;
        margin-left: 0;
    }

    .conversion{
        display: flex;
        flex-direction: row;
    }
}
